## python==3.10
chardet==5.2.0
emoji==2.12.1
gensim==4.3.3

## 사전에
## jdk 설치후 환경변수를 편집해주세요.
## 우선 시스템 환경변수에 C:\Program Files\Java\jdk-22\bin\server 을 JAVA_HOME으로 넣어주세요.
## 그리고 유저 환경변수에 Path를 편집하고 %JAVA_HOME%\bin 를 새로 만들어 제일 위로 보내주세요.
konlpy==0.6.0
matplotlib==3.9.1
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
seaborn==0.13.2
streamlit==1.37.0
streamlit-option-menu==0.3.13
torch==2.2.2
transformers==4.43.3
urlextract==1.9.0
wordcloud==1.9.3